<div class="fromlogin">
  <header>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <nav class="navbar navbar-inverse">

       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" style="color:Tomato;">ระบบส่งเสริมพัฒนาการศึกษาห้องเรียนออนไลน์</a>
           </div>
           <ul class="nav navbar-nav">

          </ul>

           <p class="head">
             {{userdetails?.email}}
           </p>
           <div class="out">
            <button class="p-button-lg" pButton type="button" label="Logout" (click)="logout()">
              <i class="pi pi-power-off"iconPos="left"></i>
            </button>

           </div>

       </div>

   </nav>

  </header>
  <main>


<div  class="add">
  <div *ngIf="isShown" class="row container-fluid"  id="divshow" >
    <button class="p-button-lg" pButton type="button" label="สร้างห้องเรียน" (click)="add()">
      <i class="pi pi-plus"iconPos="left"></i>
    </button>
  </div>

 <button class="p-button-lg" pButton type="button"(click)="join()" label="เข้าร่วมชั้นเรียน">
  <i class="pi pi-plus"iconPos="left"></i>
 </button>
</div>
<h2 align="center">ชั้นเรียน</h2>
<p-table  [value]="cars" >
  <ng-template pTemplate="header">
      <tr>
          <th>ชื่อห้องเรียน:</th>

          <th>ปุ่ม</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
      <tr>

          <td>{{car.room}}</td>
          <td><button  [routerLink]="['/room',car.passroom]" pButton (click)="getin(car.passroom)" type="button" class="p-button-help p-button-lg" label="เข้าร่วมชั้นเรียน">
            <i class="pi pi-prime"iconPos="left"></i>
          </button></td>

        </tr>
  </ng-template>
</p-table>

  </main>
 </div>
