.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    align-content: center;
}
.container-fluid{
    padding-left: 15px;
}
p.head {
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: row;
    padding-right: 7px;
    font-size: 18px;
}
h2{
    font-size: 39px;
    color: #000;
}
i{
    font-size: 3rem;
    margin-right: 0.5rem;
    color: rgb(255, 238, 0);
}
.p-button-lg{
    font-size: 18px;
}
.out{
    column-gap: 0.5em;
}
div{
    h1{
        font-size: 30px;
        color: #000;
    }
    h4{
        font-size: 25px;
        color: #000;
    }
    span{
        font-size: 20px;
        color: #000;
    }
}
.form-group{
    input{
        font-size: 20px;
    }
}
.O{
    display: flex;
    column-gap: 0.5em;
}
