<div class="fromlogin">
  <header>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <nav class="navbar navbar-inverse">

       <div class="container-fluid">
           <div class="navbar-header">
               <a [routerLink]="['/mainclass']" class="navbar-brand" style="color:Tomato;">ระบบส่งเสริมพัฒนาการศึกษาห้องเรียนออนไลน์</a>

           </div>
           <ul class="nav navbar-nav">

          </ul>

           <p class="head">
             {{userdetails?.email}}

           </p>
           <div class="out">
            <button class="p-button-lg" pButton type="button" label="Logout" (click)="logout()">
              <i class="pi pi-power-off"iconPos="left"></i>
            </button>
           </div>

       </div>

   </nav>

  </header>
  <main>

      <div class="text">
        <h3 align="center">สร้างชั้นเรียน</h3>
        <div [formGroup]="saveroom"class="text">
          <input formControlName="Nameroom" type="text" pInputText class="p-inputtext-lg"   placeholder="ชื่อห้องเรียน:">
        <input  formControlName="subject"type="text" pInputText class="p-inputtext-lg"  placeholder="วิชา:">
        <input formControlName="roomnum" type="text" pInputText class="p-inputtext-lg"  placeholder="ห้องเรียนในมหาลัย:">
        </div>
        <input  type="text" pInputText class="p-inputtext-lg" placeholder="รหัสเข้าห้อง:"[value]="random">

        <button id="generate"class="p-button-lg" (click)="click()" pButton type="button" label="สุ่มรหัสชั้นเรียน">
          <i class="pi pi-key"iconPos="left"></i>
        </button>
        <div class="bu">
          <button pButton pRipple type="button" (click)="addclassroom()" label="สร้างชั้นเรียน" class="p-button-success p-button-lg">
            <i class="pi pi-check"iconPos="left"></i>
          </button>
          <button pButton pRipple type="button" (click)="back()" label="กลับไปที่หน้าชั้นเรียน" class="p-button-danger p-button-lg">
            <i class="pi pi-arrow-left"iconPos="left"></i>
          </button>

        </div>

      </div>







  </main>
 </div>

