<div class="fromlogin">
  <header>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <nav class="navbar navbar-inverse">

       <div class="container-fluid">
           <div class="navbar-header">
               <a [routerLink]="['/mainclass']" class="navbar-brand" style="color:Tomato;">ระบบส่งเสริมพัฒนาการศึกษาห้องเรียนออนไลน์</a>

           </div>
           <ul class="nav navbar-nav">


          </ul>


           <p class="head">
             {{userdetails?.email}}

           </p>
           <div align="center" >
            <div class="post" >
             
            </div>

          </div>
           <div class="out">
            <button [routerLink]="['/room',passroom]"class="p-button-lg" pButton type="button" label="ย้อนกลับ">
              <i class="pi pi-chevron-left"iconPos="left"></i></button>
            <button [routerLink]="['/nameroom',passroom]" class="p-button-lg" pButton type="button" label="ราชชื่อ">
              <i class="pi pi-users"iconPos="left"></i></button>
            <button class="p-button-lg" pButton type="button" label="logout" (click)="logout()">
              <i class="pi pi-power-off"iconPos="left"></i>
            </button>
           </div>

       </div>

   </nav>
  </header>
  <main>
    <div [formGroup]="work" class="inputpost">
      <h3 align="center">แก้ไขโพสต์คำถาม</h3>
      <label for="float-input">ชื่องาน</label>
      <input formControlName="workname" id="float-input"  type="text" pInputText>
      <br>
      <label for="float-input">รายระเอียดงาน</label>
      <span class="p-float-label">
        <textarea formControlName="workdetail" id="float-input" rows="5" cols="30" pInputTextarea></textarea>

    </span>




    </div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
          <input type="file" (change)="uploadFile($event)">
      </div>
      <div class="form-group">
          <button class="btn btn-danger btn-block btn-lg">
            <i class="pi pi-cloud-upload"iconPos="left"></i>
            Upload</button>
      </div>
  </form>
</div>

  </main>
</div>
