<div class="fromlogin">
 <header>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header" >
              <a class="navbar-brand" style="color:Tomato;">ระบบส่งเสริมพัฒนาการศึกษาห้องเรียนออนไลน์</a>

          </div>
          <ul class="nav navbar-nav">
          </ul>

      </div>
  </nav>

 </header>

 <div class="D" >
    <br /> <br /> <br /> <br /> <br /> <br /> 
    <div align="center">
        <p-image src="assets/img/Logo.png" alt="Image" width="400"></p-image>
        <br /> <br /> 
        <h3 class="ASON">Educational development promotion system Online Classroom</h3>
    </div>
    <br />
 <main align="center">
  <button 
  class="p-button-lg" pButton type="button" label="Countinue with Google" (click)="loginWithGoogle()">
  <i class="pi pi-google"iconPos="left"></i>


  </button>
 </main>
</div>
