.choo{
    button{
        font-size: 24px;  
    }
}
i{
    font-size: 3rem;
    margin-right: 0.5rem;
    color: rgb(255, 238, 0);
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    align-content: center;
}
.container-fluid{
    padding-left: 15px;
}
p.head {
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: row;
    padding-right: 7px;
    font-size: 18px;
}